<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/75f9c0f7-ced5-4ffb-a48a-a01787a650ba/resourceGroups/xms-back-end/providers/Microsoft.ApiManagement/service/XMSWebApi/apis/xms-back-end</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/75f9c0f7-ced5-4ffb-a48a-a01787a650ba/resourcegroups/gpes-back-end/providers/Microsoft.Web/sites/GPESWebApi-backend</ResourceId>
    <ResourceGroup>gpes-back-end</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://gpeswebapi-backend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ac188566-5358-40e2-9fc2-01dc5349a924</ProjectGuid>
    <PublishUrl>https://gpeswebapi-backend.scm.azurewebsites.net/</PublishUrl>
    <UserName>$GPESWebApi-backend</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>