<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/ac0a9cfe-ba48-4f21-898c-c32d672a5116/resourceGroups/portalGPES/providers/Microsoft.ApiManagement/service/GPESWebApi/apis/GPESWebApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/ac0a9cfe-ba48-4f21-898c-c32d672a5116/resourcegroups/portalGPES/providers/Microsoft.Web/sites/GPESWebApiBackend</ResourceId>
    <ResourceGroup>portalGPES</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://gpeswebapibackend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ac188566-5358-40e2-9fc2-01dc5349a924</ProjectGuid>
    <PublishUrl>https://gpeswebapibackend.scm.azurewebsites.net/</PublishUrl>
    <UserName>$GPESWebApiBackend</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>